.form-group
  .col-md-10

.panel.panel-default
  .panel-heading.clearfix
    .pull-left= t(:legal_document)
  .panel-body
    .form-group
      .col-md-3.control-label
        = f.label :legal_document, t(:legal_document)
        %p.help-block= t(:legal_document_max_size)
      .col-md-7
        = f.legal_document_field :legal_document
