<tr>
    <td><%= link_to domain, registrant_domain_path(domain) %></td>
    <td>
        <%= link_to domain.registrant.name,
                    registrant_domain_contact_path(domain, domain.registrant) %>
    </td>
    <td><%= l domain.expire_time %></td>
    <td><%= link_to domain.registrar, registrant_registrar_path(domain.registrar) %></td>
</tr>
