!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title Contacts
  %body
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-2'}
              =t(:name)
            %th{class: 'col-xs-2'}
              =t('.registrant')
            %th{class: 'col-xs-2'}
              =t(:valid_to)
            %th{class: 'col-xs-2'}
              =t(:registrar_name)
        %tbody
          - @domains.each do |x|
            %tr
              %td= x.name
              %td= x.registrant
              %td= l(x.valid_to, format: :short)
              %td= x.registrar
            .row
    .col-md-6
