<%= "#{current_user} (#{current_user.roles.first}) - #{current_user.registrar}" %>
<span class="text-muted">|</span>
<%= link_to t('.sign_out'), registrar_destroy_user_session_path, method: :delete %>
