<div class="panel panel-default">
    <div class="panel-heading">
        <%= t '.header' %>
    </div>

    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt><%= Registrar.human_attribute_name :language %></dt>
            <dd><%= registrar.language %></dd>
        </dl>
    </div>
</div>
