.form-signin
  / TODO: Refactor this when ID card login is done
  = button_to 'ID card (user1)', 'sessions',
    class: 'btn btn-lg btn-primary btn-block', name: 'user1'
  = button_to 'ID card (user2)', 'sessions',
    class: 'btn btn-lg btn-primary btn-block', name: 'user2'
