.row
  .form-signin.col-md-4.center-block.text-center
    %h2.form-signin-heading.text-center= t '.header'
    %hr
    = form_for @user, url: registrar_mid_path, html: {class: 'form-signin'} do |f|
      = f.text_field :phone, class: 'form-control',
        placeholder: t(:phone_no), autocomplete: 'off', required: true
      %button.btn.btn-lg.btn-primary.btn-block.js-login{:type => 'submit'}= t '.submit_btn'

  - if ['development', 'alpha'].include?(Rails.env)
    %div.text-center
      00007, 60000007, 00000766

:coffee
  load_listener = ->
    $('.js-login').attr('disabled', false)

    status_interval = null
    mid_status = () ->
      status_interval = setInterval((->
        $.post('/registrar/login/mid_status').fail((data) ->
          clearInterval(status_interval)
          flash_alert(data.responseJSON.message)
          $('.js-login').attr('disabled', false)
        )
      ), 1000)

    $('.js-login').on 'click', (e) ->
      e.preventDefault();
      $(this).attr('disabled', true)

      $.post($('form').attr('action'), $('form').serialize()).done((data) ->
        if data.message
          flash_notice(data.message)
          mid_status()
      ).fail((data) ->
        flash_alert(data.responseJSON.message)
        $('.js-login').attr('disabled', false)
      )
  window.addEventListener 'load', load_listener
