<tr>
    <td>
        <%= link_to(domain, admin_domain_path(domain)) %>
    </td>
    <td>
        <%= link_to(domain.registrant, [:admin, domain.registrant]) %>
    </td>
    <td>
        <%= l(domain.valid_to, format: :short) %>
    </td>
    <td>
        <%= link_to(domain.registrar, admin_registrar_path(domain.registrar)) %>
    </td>
</tr>
