= form_for([:admin, @domain], html: { class: 'form-horizontal' }) do |f|
  = render 'shared/errors', object: @domain
  - unless @domain.parent_valid?
    %hr
  .row
    .col-md-8
      = render 'admin/shared/form/statuses', f: f,
            model: 'domain',
            admin_statuses_map: DomainStatus.admin_statuses_map,
            disabled_statuses: DomainStatus::STATUSES - DomainStatus.admin_statuses,
            not_deletable_statuses: DomainStatus.admin_not_deletable_statuses

  .row
    .col-md-8.text-right
      = button_tag(t(:save), class: 'btn btn-primary')
