.row
  .col-sm-6
    %h2.text-center-xs= t('shared.domains')
  .col-sm-6
    %h2.text-right.text-center-xs
      = link_to(t('shared.add'), new_client_domain_path, class: 'btn btn-primary')
%hr
= render 'shared/domains/index'
