= render 'shared/title', name: t(:reserved_domains)

= form_tag([:admin, :reserved_domains]) do |f|
  .row
    .col-md-12
      = text_area_tag :reserved_domains, @reserved_domains, class: 'form-control', rows: 30
      %hr
  .row
    .col-md-12.text-right
      %button.btn.btn-warning=t(:save)
