%h4= t('registrar.invoices.pay_invoice')
%hr

- locals[:payment_channels].each do |meth|
  - meth = meth.strip
  = link_to registrar_payment_with_path(meth, invoice_id: params[:id]) do
    = image_tag("#{meth}.png")
