<div class="page-header">
    <h1><%= t '.header' %></h1>
</div>

<%= render 'registrar/domain_transfers/form/api_errors' %>

<div class="row">
    <div class="col-md-8">
        <%= render 'form' %>
    </div>
</div>
