<% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible">
        <button class="close" data-dismiss="alert" type=button><span>&times;</span></button>
        <p><%= flash[:notice].html_safe %></p>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissible">
        <button class="close" data-dismiss="alert" type=button><span>&times;</span></button>
        <p><%= flash[:alert] %></p>
    </div>
<% end %>

<% if flash[:info] %>
    <div class="alert alert-info alert-dismissible">
        <button class="close" data-dismiss="alert" type=button><span>&times;</span></button>
        <p><%= flash[:info] %></p>
    </div>
<% end %>
