.row
  .form-signin.col-md-6.center-block.text-center
    %h2.form-signin-heading.text-center= t(:log_in)
    %hr
    = link_to '/registrant/id', method: :post do
      = image_tag 'id_card.gif'

    %hr
    -# = link_to '/regisrant/login/mid' do
      -# = image_tag 'mid.gif'
    -# = link_to '/registrant/login/id' do
      -# = image_tag 'id_card.gif'


