<div class="row">
    <div class="form-signin col-md-6 center-block text-center">
        <h2 class="form-signin-heading text-center">
            <%= t '.header' %>
        </h2>
        <hr/>
        <div class="row">
            <%= t '.hint' %>
        </div>
        <br/>
        <%= link_to t(:sign_in), "/auth/rant_tara", method: :post, class: 'btn btn-lg btn-primary btn-block' %>
    </div>
</div>
