.row
  .col-sm-6
    %h2.text-center-xs
      = "#{t('shared.edit_registrar')}"
  .col-sm-6
    %h2.text-right.text-center-xs
      = link_to(t('shared.back_to_registrar'), [:admin, @registrar], class: 'btn btn-default')
%hr
= render 'form'
