<ol class="breadcrumb">
    <li><%= link_to t('admin.dns.zones.index.title'), admin_zones_path %></li>
</ol>

<div class="page-header">
    <h1><%= t '.title' %></h1>
</div>

<%= render 'form', zone: @zone %>
