<ol class="breadcrumb">
    <li><%= link_to t('admin.disputes.index.title'), admin_disputes_path %></li>
</ol>

<div class="page-header">
    <h1><%= t '.title' %></h1>
</div>

<%= render 'form', dispute: @dispute %>
