<div class="page-header">
    <h1><%= t '.header' %></h1>
</div>

<div class="row">
    <div class="col-sm-4">
        <%= render 'linked_users', linked_users: linked_users %>
    </div>
</div>

<p><%= link_to t('.settings_link'), registrar_settings_root_path %></p>