<tr>
    <td><%= link_to api_user, admin_registrar_api_user_path(api_user.registrar, api_user) %></td>
    <td><%= link_to api_user.registrar, admin_registrar_path(api_user.registrar) %></td>
    <td><%= api_user.active %></td>
</tr>
