.row
  .col-sm-6
    %h2.text-center-xs
      = "#{t('edit_epp_user')}"
  .col-sm-6
    %h2.text-right.text-center-xs
      = link_to(t('back_to_epp_user'), [:admin, @epp_user], class: 'btn btn-default')
%hr
= render 'form'
