.row
  .col-sm-6
    %h2.text-center-xs
      = "#{t('shared.contact_details')}"
  .col-sm-6
    %h2.text-right.text-center-xs

%hr
.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th
              whodunnit
            %th
              event
            %th
              created_at

        %tbody
          - @versions.each_with_index do |version, index|
            -  domain = version.reify(has_multiple: true)
            - if domain
              = render 'admin/domain_versions/history', version: version, index: index, domain: domain
            - else
              %tr
                %td=version.whodunnit #contact.name if contact
                %td=version.event #contact.ident if contact
                %td=version.created_at #contact.email if contact

