<div class="panel panel-default">
    <div class="panel-heading">
        <%= t '.header' %>
    </div>

    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt><%= Registrar.human_attribute_name :billing_email %></dt>
            <dd><%= registrar.billing_email %></dd>
        </dl>
    </div>

    <div class="panel-footer text-right">
        <%= link_to t('.edit_btn'), edit_registrar_account_path, class: 'btn btn-default btn-sm' %>
    </div>
</div>
