Tere,
<br><br>
<p>
Anname teada, et registripidaja akrediteerimise tulemused aeguvad ühe kuu pärast.
</p>
<p>
Palume planeerida teooriatesti uuesti sooritamine, et akrediteering püsiks kehtiv.
</p>
<p>
Kui Teil on küsimusi seoses akrediteerimise uuendamisega, võtke meiega ühendust.
</p>
<p>
Parimate soovidega,
</p>
<%= render 'mailers/shared/signatures/signature.et.html' %>
<hr>
<br><br>

Hi,
<br><br>
<p>
We are writing to inform you that the registrar accreditation results will expire in one month.
</p>
<p>
Please plan to retake the theory test to keep the accreditation active.
</p>
<p>
If you have any questions regarding accreditation renewal, please contact us.
</p>
<p>
Best regards,
</p>
<%= render 'mailers/shared/signatures/signature.en.html' %>
