Tere,
<br><br>
<p>
Anname teada, et registripidaja akrediteerimise tulemused on aegunud.
</p>
<p>
Akrediteerimise taastamiseks tuleb teooriatest uuesti edukalt sooritada.
</p>
<p>
Kui Teil on küsimusi seoses akrediteeringu taastamisega, võtke meiega ühendust.
</p>
<p>
Parimate soovidega,
</p>
<%= render 'mailers/shared/signatures/signature.et.html' %>
<hr>
<br><br>

Hi,
<br><br>
<p>
We are writing to inform you that the registrar accreditation results have expired.
</p>
<p>
To restore accreditation, the theory test must be passed again.
</p>
<p>
If you have any questions regarding accreditation restoration, please contact us.
</p>
<p>
Best regards,
</p>
<%= render 'mailers/shared/signatures/signature.en.html' %>
