Tere,
<br><br>
<p>
Anname teada, et Teie registripidaja tiim on edukalt täitnud akrediteerimise testinõuded.
</p>
<p>
Akrediteerimise staatus on uuendatud.
</p>
<p>
Kui Teil on küsimusi seoses akrediteerimise protsessiga, võtke meiega ühendust.
</p>
<p>
Parimate soovidega,
</p>
<%= render 'mailers/shared/signatures/signature.et.html' %>
<hr>
<br><br>

Hi,
<br><br>
<p>
We are writing to inform you that your registrar team has successfully met the accreditation test requirements.
</p>
<p>
The accreditation status has been updated.
</p>
<p>
If you have any questions regarding the accreditation process, please contact us.
</p>
<p>
Best regards,
</p>
<%= render 'mailers/shared/signatures/signature.en.html' %>
