%h4= t('registrar.invoices.pay_by_credit_card')
- @every_pay = EveryPayPayment.new(@invoice).json
%hr
  = form_tag "https://igw-demo.every-pay.com/transactions/", method: :post do
    - @every_pay.keys.each do |k, v|
      = hidden_field_tag(k, @every_pay[k])
    = submit_tag t("registrar.invoices.to_card_payment")
