.row
  .col-sm-6
    %h2.text-center-xs
      = "#{t('shared.new_nameserver')}"
  .col-sm-6
    %h2.text-right.text-center-xs
      = link_to(t('shared.back_to_domain'), [:admin, @domain], class: 'btn btn-default')
%hr
= render 'form'
