.admin-disputes-index-page .disputes {
  td:nth-child(1) {
    width: 25%;
  }

  td:nth-child(2) {
    width: 25%;
  }

  td:nth-child(3) {
    width: 25%;
  }

  td:nth-child(4) {
    text-align: center;
    width: 25%;
  }
}
