= form_for([:admin, contact], html: { class: 'form-horizontal' }) do |f|
  .errors
    = render 'shared/errors', object: contact
  .row
    .col-md-8
      = render 'admin/shared/form/statuses', f: f,
            model: 'contact',
            admin_statuses_map: Contact.admin_statuses_map,
            disabled_statuses: Contact::STATUSES - Contact.admin_statuses,
            not_deletable_statuses: [Contact::OK, Contact::LINKED]

  .row
    .col-md-8.text-right
      = button_tag(t(:save), class: 'btn btn-primary')
