.row
  .col-sm-12
    %h2.text-center-xs
      = @contact.name
%hr
.row
  .col-md-6= render 'admin/contacts/partials/general'
  .col-md-6= render 'admin/contacts/partials/address'
.row
  .col-md-12= render 'admin/contacts/partials/domains'
