#
# EPP, REPP, Admin and Registrar config
#
# Registrant example is at database_registrant.yml.sample file

default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("APP_DB_MAX_THREADS") { 5 } %>
  host: <%= ENV.fetch("APP_DBHOST") { "localhost" } %>
  username: <%= ENV.fetch("APP_DBUSER") { "postgres" } %>
  password:

#
# Staging config For EPP, REPP, Admin, Registrar
#

staging:
  <<: *default
  database: registry_staging

whois_staging:
  <<: *default
  database: registry_whois_staging

api_log_staging:
  <<: *default
  database: registry_api_log_staging

#
# Production config For EPP, REPP, Admin, Registrar
#
production:
  <<: *default
  database: registry_production

whois_production:
  <<: *default
  database: registry_whois_production

api_log_production:
  <<: *default
  database: api_log_production
