<%= search_form_for [:admin, @q], html: { class: 'search-form', autocomplete: 'off' } do |f| %>

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-3"></div>
    <div class="col-md-4"></div>

    <div class="col-md-12 text-right">
        <%= link_to t('.download_csv_btn'), admin_domains_path(format: :csv, params: params.permit!),
                    "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => t('.download_csv_btn'),
                    class: 'btn btn-primary' %>

    </div>
</div>

<div class="row form-group"></div>
<% end %>
