<ol class="breadcrumb">
    <li><%= link_to t('registrar.domains.index.header'), registrar_domains_path %></li>
</ol>

<div class="page-header">
    <h1><%= t '.header' %></h1>
</div>

<%= render 'registrar/domain_transfers/form/api_errors' %>

<%= render 'form' %>
