.row
  .col-md-12
    #nameservers.panel{ class: 'panel-default' }
      .panel-heading.clearfix
        = t('shared.history')
      .table-responsive
        %table.table.table-hover.table-bordered.table-condensed
          %thead
            %tr
              %th
                =t('shared.whodunnit')
              %th
                =t('shared.event')
              %th
                =t('shared.created_at')

          %tbody
            -versions.each do |version|
              %tr
                %td= whodunnit_with_protocol(version.whodunnit)
                %td= version.event
                %td= version.created_at


