<h1>Editing Bounced Mail Address</h1>

<%= render 'form', bounced_mail_address: @bounced_mail_address %>

<%= link_to 'Show', admin_bounced_mail_address_path(@bounced_mail_address)%> |
<%= link_to 'Back', admin_bounced_mail_addresses_path %>
