= form_tag check_registrar_domains_path, class: 'form-horizontal', method: :get do
  .col-md-11
    .form-group
      = text_field_tag :domain_name, params[:domain_name], class: 'form-control', placeholder: t(:domain_name), autocomplete: 'off'
  .col-md-1.text-right.text-center-xs
    .form-group
      %button.btn.btn-primary
        &nbsp;
        %span.glyphicon.glyphicon-search
        &nbsp;
