.payment-form
  = form_tag @bank_link.url, method: :post do
    - @bank_link.fields.each do |k, v|
      = hidden_field_tag k, v
    = submit_tag "Mine maksma"


:coffeescript
  window.onload = ->
    $('.payment-form form').submit()
