.h3
  = t('registrar.invoices.redirected_to_bank')

.payment-form
  = form_tag @payment.form_url, method: :post do
    - @payment.form_fields.each do |k, v|
      = hidden_field_tag k, v
    = submit_tag t('registrar.invoices.go_to_bank')

:javascript
  function loadListener () {
    $('.payment-form form').submit();
  }

  document.addEventListener('load', loadListener)
