.error-tab > a
  color: #a94442 !important

.edit-highlight
  background-color: #E7E7E7

.navbar-brand
  line-height: 12px
  padding-top: 20px
  padding-bottom: 5px

.navbar-brand small
  display: block
  font-size: 10px

.footer
  color: #777
  padding-top: 15px
  font-size: 10px

.nowrap
  white-space: nowrap

.form-signin
  max-width: 330px
  padding: 15px
  margin: 0 auto
  input
    margin-bottom: 10px

.form-signin .form-control
  position: relative
  height: auto
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding: 10px
  font-size: 16px

.no-border
  border: 0 !important
