.error-tab > a
  color: #a94442 !important

.edit-highlight
  background-color: #E7E7E7

.navbar-brand
  line-height: 12px
  padding-top: 20px
  padding-bottom: 5px

.navbar-brand small
  display: block
  font-size: 10px

.footer
  color: #777
  padding-top: 15px
  font-size: 10px
