$navbar-default-bg: #F69240
$navbar-default-brand-color: #fff
$navbar-default-link-color: #fff
$border-radius-base: 2px
$body-bg: #F8F8F8
$container-large-desktop: 1040px
$font-family-sans-serif: 'EtelkaLightProRegular', Arial, Helvetica, sans-serif
$font-family-serif: 'EtelkaLightProBold', Georgia, "Times New Roman", Times, serif
$font-size-h1: 26px
$navbar-default-link-active-color: #333

html
  position: relative
  min-height: 100%

body
  padding-bottom: 130px

body > .container
  height: 100%
  background: #fff
  padding: 60px 30px 30px 30px

h1, h2, h3, h4
  margin-bottom: 0px !important

hr
  margin-top: 10px !important
  margin-bottom: 10px !important

.no-border
  border: 0 !important

.navbar li
  font-weight: bold

.footer
  position: absolute
  bottom: 0
  width: 100%
  height: 130px
  background: image_url('bg.jpg')
  color: white !important
  background-size: 100%
