<ol class="breadcrumb">
    <li><%= link_to t('registrar.account.show.header'), registrar_account_path %></li>
    <li><%= t '.header' %></li>
</ol>

<div class="page-header">
    <h1><%= t '.header' %></h1>
</div>

<%= render 'form' %>