- if status == DomainStatus::PENDING_DELETE_CONFIRMATION
  = link_to(t(:accept_delete), admin_domain_pending_delete_path(f.object.id, f.object.id),
    method: :patch, data: { confirm: t(:are_you_sure) },
    class: 'btn btn-danger btn-xs')
